{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}
<div class="col-md-8 col-sm-5 col-xs-5" style="background-image: url('{% static 'bookstore/img/background.jpg' %}'); background-size: cover; height: 100vh; width: 100vw;">


  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Хлебные крошки-->
      <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Панель управления</a>
            </li>
            <li class="breadcrumb-item active">Обзор</li>
        </ol>

      <!-- Иконки-карточки-->
      <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-black bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-book"></i>
                </div>
                <div class="mr-5"> <strong>Книги</strong> : {{ book }}</div>
              </div>
              <a class="card-footer text-black clearfix small z-1" href="#">
              <span class="float-left">Всего книг</span><br>
              <span class="float-right"></span>
              </a>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-black bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-user-circle fa-fw"></i>
                </div>
                <div class="mr-5"> <strong>Пользователи</strong> : {{ user }}</div>
              </div>
              <a class="card-footer text-black clearfix small z-1" href="">
              <span class="float-left">Всего пользователей</span><br>
              <span class="float-right"></span>
              </a>
             </div>
            </div>

      </div>

    </div>
  </div>

</div>

{% endblock %}
