{% extends 'publisher/base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" style="color: red">
      <p style="color: blue"></p>
    </div>

    <div class="col-sm-6" style="padding-top: 87px">
      <div class="card">
        <div class="card-header text-primary">
           Хотите узнать о нас больше?
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">

          <div class="row">
	           <div class="col-sm-4"></div>
	            <div class="form-group">
                      <h1>О НАС</h1>

<p>
    Приветствуем вас в нашей онлайн библиотеке, где каждая страница открывает мир возможностей и приключений! Мы - команда людей, объединенных общей страстью к чтению и верой в силу знаний. Наша цель - сделать чтение доступным для каждого, независимо от места и времени. Мы верим, что книги - это не просто набор страниц, а ключ к бесконечному источнику вдохновения, образования и развлечения.
</p>

<h2>Наша миссия</h2>

<p>
    Мы стремимся вдохновить и поддержать любовь к чтению, предоставляя широкий выбор литературы для всех возрастов и интересов. Наша миссия - не просто предоставить доступ к книгам, но и создать уникальное пространство, где каждый читатель может найти что-то особенное для себя. Мы гордимся тем, что помогаем людям расширять свой кругозор, углублять знания и наслаждаться миром слов.
</p>

<h2>Что нас отличает</h2>

<p>
    Наша библиотека - это не просто склад книг, а кураторский отбор лучших произведений, от классики до современных бестселлеров. Мы тщательно отбираем каждую книгу, чтобы гарантировать высокое качество содержания и разнообразие жанров. В нашей коллекции вы найдете что-то для себя, будь то захватывающие приключения, глубокие философские размышления или просто легкое чтение для отдыха.
</p>

<h2>Наши услуги</h2>

<p>
    Мы стремимся сделать ваше чтение еще более удобным и увлекательным. У нас вы найдете различные форматы чтения, включая электронные книги, аудиокниги и печатные издания. Мы также предлагаем персонализированные рекомендации, чтобы помочь вам открывать новые произведения, соответствующие вашим интересам и предпочтениям.
</p>

<h2>Наша команда</h2>

<p>
    Мы - команда профессионалов, горящих желанием сделать ваше чтение еще более приятным и увлекательным. Мы усердно работаем, чтобы обеспечить вас лучшими книгами и качественным сервисом. Если у вас есть вопросы, предложения или просто хотите поделиться своими впечатлениями - обращайтесь к нам, мы всегда рады общению с нашими читателями!
</p>

<p>
    Присоединяйтесь к нашей онлайн библиотеке уже сегодня и откройте новые горизонты вместе с нами!
</p>
                </div>

	               <div class="col-sm-4"></div>
	          </div>


          </div>
        </div>

      </div>
  </div>

  <div class="col-sm-3" style="color: red">
</div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}
